# IDE
# pycharm settings
.idea/
# emacs temp files
*~
# emacs temp files
\#*\#
# data folder 
data/

# Hidden files
.vscode
.DS_Store
*.pyc
# Venv project
.venv3
.venv
*.ipynb
.ipynb_checkpoints

# Others
chromedriver
output/